In [13]:
import pandas as pd

csv='./people-100.csv'
data = pd.read_csv(csv)

pattern = r'(\(|\+1-|001-|)(\d{3})-?.?(\d{3})-?.?(\d{4})x?(\d*)?'
replace_phone = r'+1\2\3\4 '
replace_extension = r'\5'
data['Phone Cleaned'] = data['Phone'].str.replace(pat=pattern, repl=replace_phone, regex=True)
data['Extension'] = data['Phone'].str.replace(pat=pattern, repl=replace_extension, regex=True)
data

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title,Phone Cleaned,Extension
0,1,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,1945-10-26,Games developer,+10849067849,73518
1,2,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,1910-03-24,Phytotherapist,+12141126044,4913
2,3,DbeAb8CcdfeFC2c,Kristine,Travis,Male,bthompson@example.com,277.609.7938,1992-07-02,Homeopath,+12776097938,
3,4,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,2017-08-03,Market researcher,+15840946111,
4,5,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,1938-12-01,Veterinary surgeon,+16892073558,7233
...,...,...,...,...,...,...,...,...,...,...,...
95,96,5eFda7caAeB260E,Dennis,Barnes,Female,bmartin@example.org,001-095-524-2112x257,1954-07-30,Software engineer,+10955242112,257
96,97,CCbFce93d3720bE,Steve,Patterson,Female,latasha46@example.net,001-865-478-5157,1932-04-29,Barrister,+18654785157,
97,98,2fEc528aFAF0b69,Wesley,Bray,Male,regina11@example.org,995-542-3004x76800,1994-12-28,Police officer,+19955423004,76800
98,99,Adc7ad9B6e4A1Fe,Summer,Oconnell,Female,alexiscantrell@example.org,001-273-685-6932x092,2012-04-12,Broadcast journalist,+12736856932,092
99,100,b8D0aD3490FC7e1,Mariah,Bernard,Male,pcopeland@example.org,(341)594-6554x44657,2016-11-15,IT sales professional,+13415946554,44657